.idea/
*.iml
*.ipr
*.iws

target/
build/
out/
bin/
*.class
*.jar
*.war
*.ear

vendor/
node_modules/

.env
.env.*
!.env.example

Webserver/writable/cache/*
!Webserver/writable/cache/index.html
Webserver/writable/debugbar/*
!Webserver/writable/debugbar/index.html
Webserver/writable/logs/*
!Webserver/writable/logs/index.html
Webserver/writable/session/*
!Webserver/writable/session/index.html
Webserver/writable/uploads/*
!Webserver/writable/uploads/index.html

*.log
*.tmp
*.temp
.DS_Store
Thumbs.db
